<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>MyNotes App</h1>
    <div>
        <h2>Post a note:</h2>
        <h2><a href="/home">Back</a></h2>
    </div>

    <form action="/create" method="POST">
        <table>
            <tr>
                <td>
                    <label for="title">Title:</label>
                </td>
                <td>
                    <input type="text" name="title" id="title">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="body">Body:</label>
                </td>
                <td>
                    <textarea name="body" id="body" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Post</button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>