<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>MyNotes App</h1>
    <div>
        <h2>All Notes</h2>
        <h2><a href="/create_notes">Add a new note</a></h2>
    </div>
    <table border="1">
        {% for id,note in data.items() %}
        <tr>
            <td><a href="/notes/{{ id }}">{{note["title"]}}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>