<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MyNotes App</h1>
    <div>
        <h2>View a note:</h2>
        <h2><a href="/home">Back</a></h2>
    </div>
    <table border="1">
        <tr>
            <td>
                <p>{{ note.title }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>{{ note.body }}</p>
            </td>
        </tr>
    </table>
</body>
</html>

